include src-ed25519/*.c src-ed25519/*.h src-ed25519/*.data src-ed25519/Makefile
include MANIFEST.in LICENSE
include versioning.py _version.py

# these files provide basic functional tests, known-answer tests, and
# performance benchmarks:
include Makefile kat.py kat-ed25519.txt test.py

