
# all sources referenced by setup.py are automatically included, but that
# doesn't cover the .h and ge25519_base.data files, nor the Makefile
include src/ed25519-supercop-ref/*.c src/ed25519-supercop-ref/*.h
include src/ed25519-supercop-ref/Makefile src/ed25519-supercop-ref/*.data

# basic metadata
include MANIFEST.in LICENSE NEWS README.md

# version-number-updating files
include versioneer.py src/ed25519/_version.py

# these files provide basic functional tests, known-answer tests, and
# performance benchmarks:
include Makefile test_ed25519_kat.py kat-ed25519.txt kat.py
